@font-face {
    font-family: 'WalHol';
    src: url(fonts/walibi-holland.ttf);
}
@font-face {
    font-family: 'BadCom';
    src: url(fonts/BadComic-Italic.ttf);
}

body{
    margin: 0%;
    background-color: rgb(221, 68, 68);
    background-image: url(assets/Background.png);
    background-repeat: repeat;
    animation: changeBg 3s infinite;
    background-size: 300px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    animation-timing-function: step-end;
}

main{
    margin: 15px;
}

p{
    color: white;
    font-family: 'BadCom';
    font-size: 30px;
    animation: LetterShake 3s infinite;
    animation-timing-function: ease-out;
    text-align: center;
}

h1{
    color: white;
    font-family: 'BadCom';
    font-size: 60px;
    animation: LetterShake 3s infinite;
    animation-timing-function: ease-out;
    text-align: center;
}

h2{
    color: white;
    font-family: 'BadCom';
    font-size: 40px;
    animation: LetterShake 3s infinite;
    animation-timing-function: ease-out;
}

.ProjectButton {
    width: 600px;
}

.NoMargin {
    margin: 0%;
}

iframe {
    display: left;
    margin-left: 200px; 
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
}

.shadow {
    filter: drop-shadow(0px 0px 10px #000000);
}

.center {
    text-align: center;
}


.navbar ul{
    list-style-type: none;
    background-color: rgb(124, 27, 27);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    font-size: 3em;
    font-family: 'WalHol';
    text-align: center;
    display: block;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    letter-spacing: normal;
    transition: all 0.25s;
}

.navbar a:hover{
    background-color: rgb(122, 9, 9);
    letter-spacing: 0.1em;
    transition: all 0.25s;
}
.navbar li{
    float: unset;
    display: inline;
}
.navbar{
    text-align: center;
}

@keyframes changeBg{
    0%, 100%  {background-image: url("assets/Background1.png");}
    33% {background-image: url("assets/Background2.png");}
    66% {background-image: url("assets/Background3.png");}
}

@keyframes LetterShake{
    0%, 100%  {letter-spacing: normal;}
    33% {letter-spacing: 0.2px;}
    66% {letter-spacing: 0.1px;}
}
