@font-face {
    font-family: 'WalHol';
    src: url(fonts/walibi-holland.ttf);
}
@font-face {
    font-family: 'BadCom';
    src: url(fonts/BadComic-Italic.ttf);
}

body{
    margin: 0%;
    background-color: rgb(221, 68, 68);
    background-image: url("assets/Background.png");
    background-repeat: repeat;
}

p{
    margin: 15px;
    color: white;
    font-family: 'BadCom';
    font-size: 30px;
}

.shadow {
    filter: drop-shadow(0px 0px 10px #000000);
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(153, 34, 34);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    font-size: 3em;
    font-family: 'WalHol';
    text-align: center;
    display: block;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    letter-spacing: normal;
    transition: all 0.25s;
}

.navbar a:hover{
    background-color: rgb(122, 9, 9);
    letter-spacing: 0.1em;
    transition: all 0.25s;
}
.navbar li{
    float: unset;
    display: inline;
}
.navbar{
    text-align: center;
}



.scrolling-image-container {
    overflow: hidden;
}
.scrolling-image {
    background: url("assets/Background.png") repeat-x;
    height: 100px;
    width: 300px;
    animation: slide 3s linear infinite;
}
@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-100px); /* The image width */
    }
}